root = true

[*]
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab

[*.{yml,yaml}]
indent_style = space
indent_size = 2

[*.cs]
csharp_new_line_before_open_brace = types
csharp_new_line_before_else = false

[*.nix]
indent_style = space
