# Packages
node_modules/

# Build Artifacts
bin/
obj/
build/
coverage/
__generated__/
/out/
next-env.d.ts
/coverage

# User specific
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.env*.local
discord.xml
protobuf.xml
.next/
.env*.local
.vercel
