name: unmango-wishlists
services:
  app:
    build: .
    develop:
      watch:
        - path: src/UnMango.Wishlists.Api
          action: rebuild
        - path: src/web
          action: rebuild
        - path: package.json
          action: rebuild
        - path: bun.lock
          action: rebuild
    ports:
      - '8080:8080'
    profiles: [ run ]
    depends_on:
      - db

  db:
    image: postgres:18.0-trixie
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_PASSWORD: mysecretpassword
    ports:
      - '5432:5432'

  web:
    image: oven/bun:1.3.1-slim
    working_dir: /workspace
    volumes:
      - ./:/workspace
    entrypoint: [ bunx, vite, --host, web ]
    profiles: [ dev ]

  api:
    image: mcr.microsoft.com/dotnet/sdk:10.0-noble
    working_dir: /workspace
    volumes:
      - ./:/workspace
    entrypoint:
      - dotnet
      - run
      - --project
      - src/UnMango.Wishlists.Api
      - --no-launch-profile
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      UNMANGO_DevServerUri: 'http://web:5173'
    ports:
      - '5217:8080'
    profiles: [ dev ]
    depends_on:
      - web
      - db

  adminer:
    profiles: [ dev ]
    image: adminer:5.4.1
    restart: always
    ports:
      - '8000:8080'
    depends_on:
      - db
