name: unmango-wishlists
services:
  app:
    build:
      context: .
      target: app
    develop:
      watch:
        - path: src/UnMango.Wishlists.Api
          action: rebuild
        - path: src/web
          action: rebuild
        - path: package.json
          action: rebuild
        - path: bun.lock
          action: rebuild
    ports:
      - '8080:8080'
    profiles: [ run ]
    depends_on:
      - db

  db:
    image: postgres:18.0-trixie
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_PASSWORD: mysecretpassword
    ports:
      - '5432:5432'

  eventstore:
    image: docker.kurrent.io/kurrent-latest/kurrentdb:latest
    environment:
      - KURRENTDB_CLUSTER_SIZE=1
      - KURRENTDB_RUN_PROJECTIONS=All
      - KURRENTDB_START_STANDARD_PROJECTIONS=true
      - KURRENTDB_NODE_PORT=2113
      - KURRENTDB_INSECURE=true
      - KURRENTDB_ENABLE_ATOM_PUB_OVER_HTTP=true
    ports:
      - "2113:2113"
    volumes:
      - type: volume
        source: kurrentdb-volume-data
        target: /var/lib/kurrentdb
      - type: volume
        source: kurrentdb-volume-logs
        target: /var/log/kurrentdb

  migration-scripts:
    build:
      context: .
      target: scripts
    profiles: [ deploy ]

  web:
    build:
      context: .
      dockerfile: hack/Dockerfile
      target: web
    develop:
      watch:
        - path: src/web
          target: /work/src/web
          action: sync
        - path: package.json
          action: rebuild
        - path: bun.lock
          action: rebuild
        - path: hack/Dockerfile
          action: rebuild
    profiles: [ dev ]
    command: [ bun, dev, --host, web ]

  api:
    build:
      context: .
      dockerfile: hack/Dockerfile
      target: api
    develop:
      watch:
        - path: src/UnMango.Wishlists.Api
          action: rebuild
        - path: hack/Dockerfile
          action: rebuild
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      Vite__Server__Host: web
      ConnectionStrings__App: Server=db:5432;Database=initdb;User Id=postgres;Password=mysecretpassword
    command: [ dotnet, run, --no-restore ]
    ports:
      - '8080:8080'
    profiles: [ dev ]
    depends_on:
      - web
      - db

  adminer:
    profiles: [ dev ]
    image: adminer:5.4.1
    restart: always
    ports:
      - '8000:8080'
    depends_on:
      - db

volumes:
  kurrentdb-volume-data:
  kurrentdb-volume-logs:
