name: unmango-wishlists
services:
  app:
    build:
      context: .
      target: app
    develop:
      watch:
        - path: src/UnMango.Wishlists.Api
          action: rebuild
        - path: src/web
          action: rebuild
        - path: package.json
          action: rebuild
        - path: bun.lock
          action: rebuild
    ports:
      - '8080:8080'
    profiles: [ run ]
    depends_on:
      - db

  db:
    image: postgres:18.0-trixie
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_PASSWORD: mysecretpassword
    ports:
      - '5432:5432'

  migration-scripts:
    build:
      context: .
      target: scripts
    profiles: [ deploy ]

  web:
    build:
      context: .
      dockerfile: hack/Dockerfile
      target: web
    develop:
      watch:
        - path: src/web
          target: /work/src/web
          action: sync
        - path: package.json
          action: rebuild
        - path: bun.lock
          action: rebuild
        - path: hack/Dockerfile
          action: rebuild
    profiles: [ dev ]
    command: [ bun, dev, --host, web ]

  api:
    build:
      context: .
      dockerfile: hack/Dockerfile
      target: api
    develop:
      watch:
        - path: src/UnMango.Wishlists.Api
          action: rebuild
        - path: hack/Dockerfile
          action: rebuild
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      Vite__Server__Host: web
      ConnectionStrings__App: Server=db:5432;Database=initdb;User Id=postgres;Password=mysecretpassword
    command: [ dotnet, run, --no-restore ]
    ports:
      - '8080:8080'
    profiles: [ dev ]
    depends_on:
      - web
      - db

  oauth2-proxy:
    image: quay.io/oauth2-proxy/oauth2-proxy:v7.13.0
    environment:
      OAUTH2_PROXY_CLIENT_ID: your-client-id
      OAUTH2_PROXY_CLIENT_SECRET: your-client

  adminer:
    image: adminer:5.4.1
    restart: always
    ports:
      - '8000:8080'
    profiles: [ dev ]
    depends_on:
      - db
