name: unmango-wishlists
services:
  app:
    build:
      context: .
    ports:
      - '8080:8080'

    profiles: [ run ]
    depends_on:
      - db

  db:
    image: postgres:18.0-trixie
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_PASSWORD: mysecretpassword
    ports:
      - '5432:5432'

  web:
    build:
      context: .
      target: web-src
    entrypoint: [ bun, dev, --host, web ]
    profiles: [ dev ]

  api:
    build:
      context: .
      target: api-src
      args:
        CONFIGURATION: Debug
    entrypoint: [ dotnet, run ]
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      UNMANGO_DevServerUri: 'http://web:5173'
    ports:
      - '5217:8080'
    profiles: [ dev ]
    depends_on:
      - web
      - db

  adminer:
    profiles: [ dev ]
    image: adminer:5.4.1
    restart: always
    ports:
      - '8000:8080'
    depends_on:
      - db
