version: '3.8'
name: unmango-wishlists

services:
  api:
    build:
      context: api/UnMango.Wishlists.Api
      dockerfile: Dockerfile
    ports:
      - '8000:8080'
  web:
    build:
      context: app/web
      dockerfile: Dockerfile
    ports:
      - '8080:80'
