name: unmango-wishlists

services:
  app:
    build:
      context: .
    ports:
      - '8080:8080'

  db:
    image: postgres:18.0-trixie
    environment:
      POSTGRES_PASSWORD: mysecretpassword
    ports:
      - '5432:5432'

  adminer:
    image: adminer
    ports:
      - '8080:8000'
