name: CI

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

permissions:
  contents: read
  packages: write

jobs:
  api:
    runs-on: ubuntu-latest
    env:
      DOTNET_NOLOGO: true
      DOTNET_CLI_TELEMETRY_OPTOUT: true
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-dotnet@v5
        with:
          global-json-file: global.json
          cache: true
          cache-dependency-path: |
            src/UnMango.Wishlists.Api/packages.lock.json

      - run: dotnet restore --locked-mode
      - run: dotnet build --configuration Release

  web:
    runs-on: ubuntu-latest
    env:
      # renovate: datasource=github-tags depName=oven-sh/bun
      BUN_VERSION: 1.3.1
    steps:
      - uses: actions/checkout@v6

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: ${{ env.BUN_VERSION }}

      - run: bun install --frozen-lockfile
      - run: bun run build

  nix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: cachix/install-nix-action@v31.8.4
        with:
          github_access_token: ${{ github.token }}

      - uses: cachix/cachix-action@v16
        with:
          name: unstoppablemango
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - run: nix flake check --all-systems
      - run: nix build .#api .#web .#wishlists .#docker

  docker:
    runs-on: ubuntu-latest
    outputs:
      image-tags: ${{ steps.meta.outputs.tags }}
    steps:
      - uses: docker/setup-buildx-action@v3

      - id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/unmango/wishlists
            unstoppablemango/wishlists
          tags: |
            type=ref,event=branch
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=sha

      - uses: docker/login-action@v3
        if: github.event_name != 'pull_request'
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/login-action@v3
        if: github.event_name != 'pull_request'
        with:
          registry: docker.io
          username: unstoppablemango
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha,mode=max
          cache-to: type=gha,mode=max
          push: ${{ github.event_name != 'pull_request' }}
          sbom: ${{ github.event_name != 'pull_request' }}
          provenance: ${{ github.event_name != 'pull_request' }}

  helm:
    name: ${{ github.event_name == 'push' && 'Helm Publish' || 'Helm Package' }}
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: charts/wishlists
    env:
      HELM_EXPERIMENTAL_OCI: "1"
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          filter: tree:0

      - name: Setup helm
        uses: azure/setup-helm@v4.3.1
        with:
          version: "3.19.1"

      - run: helm lint

      - uses: actions/setup-dotnet@v5
        with:
          global-json-file: global.json

      - run: dotnet tool restore

      - id: version
        run: echo "version=$(dotnet minver -t v)" >> "$GITHUB_OUTPUT"

      - name: Helm Login
        if: github.event_name == 'push'
        run: echo '${{ github.token }}' | helm registry login -u '${{ github.repository_owner }}' --password-stdin ghcr.io

      - name: Helm Package
        run: |
          helm package . \
            --dependency-update \
            --version ${{ steps.version.outputs.version }} \
            --app-version ${{ steps.version.outputs.version }}

      - name: Helm Push
        if: github.event_name == 'push'
        run: helm push wishlists-${{ steps.version.outputs.version }}.tgz "oci://ghcr.io/${REPOSITORY,,}"
        env:
          REPOSITORY: ${{ github.repository }}

      - name: Helm Logout
        if: github.event_name == 'push'
        run: helm registry logout ghcr.io

  ct:
    # TODO
    if: false
    runs-on: ubuntu-latest
    needs: [docker]
    steps:
      - uses: actions/checkout@v6.0.0
        with:
          fetch-depth: 0

      - uses: azure/setup-helm@v4.3.1

      - uses: actions/setup-python@v6.1.0
        with:
          python-version: "3.x"
          check-latest: true

      - uses: helm/chart-testing-action@v2.8.0

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed --target-branch ${{ github.event.repository.default_branch }})
          if [[ -n "$changed" ]]; then
            echo "changed=true" >> "$GITHUB_OUTPUT"
          fi

      - name: Run chart-testing (lint)
        if: steps.list-changed.outputs.changed == 'true'
        run: ct lint --target-branch ${{ github.event.repository.default_branch }} --github-groups

      - name: Create kind cluster
        if: steps.list-changed.outputs.changed == 'true'
        uses: helm/kind-action@v1.13.0

      - name: Run chart-testing (install)
        if: steps.list-changed.outputs.changed == 'true'
        run: ct install --target-branch ${{ github.event.repository.default_branch }} --github-groups

  dprint:
    runs-on: ubuntu-latest
    env:
      # renovate: datasource=github-releases depName=dprint/dprint
      DPRINT_VERSION: 0.50.2
    steps:
      - uses: actions/checkout@v6

      - uses: dprint/check@v2.3
        with:
          dprint-version: ${{ env.DPRINT_VERSION }}
